<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        table thead th {
            text-align: center;
        }

        .form-label {
            white-space: nowrap;
        }

        .sidebar {
            min-width: 200px;
            max-width: 250px;
            min-height: 100vh;
            background: #f8f9fa;
            border-right: 1px solid #dee2e6;
            transition: all 0.3s;
        }

            .sidebar .nav-link {
                color: #333;
            }

        .hamburger {
            font-size: 2rem;
            cursor: pointer;
        }

        @@media (max-width: 991.98px) {
            .sidebar {
                position: fixed;
                height: 100%;
                z-index: 1040;
            }
        }
    </style>
</head>
<body>
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <!-- jQuery (only one version) -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

    <!-- jQuery UI (after jQuery) -->
    <link rel="stylesheet"
          href="https://code.jquery.com/ui/1.13.3/themes/base/jquery-ui.css" />
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    @RenderSection("scripts", required: false)
    <script>
        var webRoot = "@System.Configuration.ConfigurationManager.AppSettings["WebRoot"]";
    </script>
</body>
</html>
